<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz3</title>
</head>

<body>
    <h1>Quiz - 3</h1>
    <h2>Supreetha Darbha</h2>
    <h2>1002035242</h2>
    <hr>

    <h4>All volcanoes within that range </h4>
    <form action="/range">
        <label for="">
            Enter Elevation1: <input type="number" name="ele1" required>
            Enter Elevation2: <input type="number" name="ele2" required>
        </label><br>
        <label for="">
            Enter Volcano Range1<input type="number" name="vol1" required>
            Enter Volcano Range2<input type="number" name="vol2" required>
        </label>
        <input type="submit" Value="Submit">
    </form>
    <hr>
    
    <h4>Allow a user to give a sequence number (in vindex table) range, and for all volcanoes in that range,
        list</h4>
    <form action="/sequenceRange">
        <label for="">
            Enter sequence Range1: <input type="number" name="range1" required>
            Enter sequence Range2: <input type="number" name="range2" required>
        </label><br>
        <input type="submit" Value="Submit">
    </form>
    <hr>

    <h4>Allow a user to give a number N and randomly select N of those volcanoes selected by part (a) </h4>
    <form action="/sequenceRange2">
        <label for="">
            Enter Number: <input type="number" name="srangeval" required>
        </label><br>
        <input type="submit" Value="Submit">
    </form>
    <hr>


</body>

</html>