<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Supreetha Darbha</h2>
    <h2>1002035242</h2>
    <a href="/">
        <= Go Back</a>
            <hr>
            <h3>Time taken to run query 5a and 5b according to specified number of times is: <strong
                    style="color: red;">{{timetaken}}</strong> seconds</h3>
</body>

</html>