<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Supreetha Darbha</h2>
    <h2>1002035242</h2>
    <a href="/"><= Go Back</a>
    <hr>
    <table border="1" style="text-align: center; width: 100%;">
        <tr>
            <th>volcano_name</th>
            <th>country</th>
            <th>region</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>elev</th>
        </tr>
        {% for i in rangeoutputval %}
        <tr>
            {% for j in range(i|length) %}
            <td>{{i[j]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p>Execution Time : </p>
     <p>{{timeelapsed}}</p>
</body>
</html>